public/UserInfo.wsdl

<?xml version="1.0" ?>
<definitions name="myService" targetNamespace="urn:myService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:myService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="myServicePort"><operation name="getName">
<input message="tns:getNameRequest" />
<output message="tns:getNameResponse" />
</operation>
<operation name="getUrl">
<input message="tns:getUrlRequest" />
<output message="tns:getUrlResponse" />
</operation>
<operation name="add">
<input message="tns:addRequest" />
<output message="tns:addResponse" />
</operation>
</portType>
<binding name="myServiceBinding" type="tns:myServicePort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="getName">
<soap:operation soapAction="urn:myService#UserInfo#getName" />
<input><soap:body use="encoded" namespace="urn:myService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:myService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="getUrl">
<soap:operation soapAction="urn:myService#UserInfo#getUrl" />
<input><soap:body use="encoded" namespace="urn:myService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:myService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="add">
<soap:operation soapAction="urn:myService#UserInfo#add" />
<input><soap:body use="encoded" namespace="urn:myService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:myService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="myService">
<documentation />
<port name="myServicePort" binding="tns:myServiceBinding"><soap:address location="http://oral.com:80/api/v2/wsdl/Service" />
</port>
</service>
<message name="getNameRequest">
</message>
<message name="getNameResponse">
<part name="getName" type="xsd:string" />
</message>
<message name="getUrlRequest">
</message>
<message name="getUrlResponse">
<part name="getUrl" type="xsd:string" />
</message>
<message name="addRequest">
<part name="a" type="xsd:string" />
<part name="b" type="xsd:string" />
</message>
<message name="addResponse">
<part name="add" type="xsd:string" />
</message>
</definitions>