public/UserInfo.wsdl

<?xml version="1.0" ?>
<definitions name="HB" targetNamespace="urn:HB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:HB" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="HBPort"><operation name="getName">
<input message="tns:getNameRequest" />
<output message="tns:getNameResponse" />
</operation>
<operation name="patient">
<input message="tns:patientRequest" />
<output message="tns:patientResponse" />
</operation>
<operation name="mkDespeak">
<input message="tns:mkDespeakRequest" />
<output message="tns:mkDespeakResponse" />
</operation>
<operation name="addDespeak">
<input message="tns:addDespeakRequest" />
<output message="tns:addDespeakResponse" />
</operation>
<operation name="doctorClass">
<input message="tns:doctorClassRequest" />
<output message="tns:doctorClassResponse" />
</operation>
<operation name="saveClass">
<input message="tns:saveClassRequest" />
<output message="tns:saveClassResponse" />
</operation>
<operation name="upClass">
<input message="tns:upClassRequest" />
<output message="tns:upClassResponse" />
</operation>
<operation name="doctorInfo">
<input message="tns:doctorInfoRequest" />
<output message="tns:doctorInfoResponse" />
</operation>
<operation name="saveDoctor">
<input message="tns:saveDoctorRequest" />
<output message="tns:saveDoctorResponse" />
</operation>
<operation name="addDocotr">
<input message="tns:addDocotrRequest" />
<output message="tns:addDocotrResponse" />
</operation>
<operation name="arrayToXml">
<input message="tns:arrayToXmlRequest" />
<output message="tns:arrayToXmlResponse" />
</operation>
<operation name="xmlToArray">
<input message="tns:xmlToArrayRequest" />
<output message="tns:xmlToArrayResponse" />
</operation>
<operation name="base64_image_content">
<input message="tns:base64_image_contentRequest" />
<output message="tns:base64_image_contentResponse" />
</operation>
</portType>
<binding name="HBBinding" type="tns:HBPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="getName">
<soap:operation soapAction="urn:HB#UserInfo#getName" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="patient">
<soap:operation soapAction="urn:HB#UserInfo#patient" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="mkDespeak">
<soap:operation soapAction="urn:HB#UserInfo#mkDespeak" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="addDespeak">
<soap:operation soapAction="urn:HB#UserInfo#addDespeak" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="doctorClass">
<soap:operation soapAction="urn:HB#UserInfo#doctorClass" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="saveClass">
<soap:operation soapAction="urn:HB#UserInfo#saveClass" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="upClass">
<soap:operation soapAction="urn:HB#UserInfo#upClass" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="doctorInfo">
<soap:operation soapAction="urn:HB#UserInfo#doctorInfo" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="saveDoctor">
<soap:operation soapAction="urn:HB#UserInfo#saveDoctor" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="addDocotr">
<soap:operation soapAction="urn:HB#UserInfo#addDocotr" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="arrayToXml">
<soap:operation soapAction="urn:HB#UserInfo#arrayToXml" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="xmlToArray">
<soap:operation soapAction="urn:HB#UserInfo#xmlToArray" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="base64_image_content">
<soap:operation soapAction="urn:HB#UserInfo#base64_image_content" />
<input><soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:HB" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="HB">
<documentation />
<port name="HBPort" binding="tns:HBBinding"><soap:address location="http://192.168.0.239:80/api/v2.wsdl/server.html" />
</port>
</service>
<message name="getNameRequest">
</message>
<message name="getNameResponse">
<part name="getName" type="xsd:string" />
</message>
<message name="patientRequest">
<part name="xml" type="xsd:string" />
</message>
<message name="patientResponse">
<part name="patient" type="xsd:string" />
</message>
<message name="mkDespeakRequest">
<part name="arr" type="xsd:string" />
</message>
<message name="mkDespeakResponse">
<part name="mkDespeak" type="xsd:string" />
</message>
<message name="addDespeakRequest">
<part name="value" type="xsd:string" />
</message>
<message name="addDespeakResponse">
<part name="addDespeak" type="xsd:string" />
</message>
<message name="doctorClassRequest">
<part name="xml" type="xsd:string" />
</message>
<message name="doctorClassResponse">
<part name="doctorClass" type="xsd:string" />
</message>
<message name="saveClassRequest">
<part name="arr" type="xsd:string" />
</message>
<message name="saveClassResponse">
<part name="saveClass" type="xsd:string" />
</message>
<message name="upClassRequest">
<part name="value" type="xsd:string" />
</message>
<message name="upClassResponse">
<part name="upClass" type="xsd:string" />
</message>
<message name="doctorInfoRequest">
<part name="xml" type="xsd:string" />
</message>
<message name="doctorInfoResponse">
<part name="doctorInfo" type="xsd:string" />
</message>
<message name="saveDoctorRequest">
<part name="arr" type="xsd:string" />
</message>
<message name="saveDoctorResponse">
<part name="saveDoctor" type="xsd:string" />
</message>
<message name="addDocotrRequest">
<part name="value" type="xsd:string" />
</message>
<message name="addDocotrResponse">
<part name="addDocotr" type="xsd:string" />
</message>
<message name="arrayToXmlRequest">
<part name="arr" type="xsd:string" />
</message>
<message name="arrayToXmlResponse">
<part name="arrayToXml" type="xsd:string" />
</message>
<message name="xmlToArrayRequest">
<part name="xml" type="xsd:string" />
</message>
<message name="xmlToArrayResponse">
<part name="xmlToArray" type="xsd:string" />
</message>
<message name="base64_image_contentRequest">
<part name="base64_image_content" type="xsd:string" />
<part name="path" type="xsd:string" />
</message>
<message name="base64_image_contentResponse">
<part name="base64_image_content" type="xsd:string" />
</message>
</definitions>